@import url('https //fonts.googleapis.com/css2 family=poppins display=swap');


:root{
    --font: 'Play', sans-serif;
    --bg: #2f363e;
    --c: #fff;
    --circle_s: #eb0b56;
    --circle_m: #34b638;
    --circle_h: #fde721;
    --brd: rgba(0, 0, 0, 0.5);
    --bx: 5px 5px 15px rgba(0, 0, 0, 0.25),
        5px 15px 15px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);

    --bx02: 
        5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);

    --bx03:
        5px 5px 7px rgba(0, 0, 0, 0.28),
        inset 2px 2px 5px rgba(102, 102, 102, 0.28),
        inset -3px -3px 5px rgba(0, 0, 0, 0.28);
}

body.dark{
    --bg: #e8eaec;
    --c: #333;
    --brd: none;
    --circle_s: #02b7ff;
    --circle_m: #ff6100;
    --circle_h: #4949e7;
    --brd: rgba(0, 0, 0, 0.5);
    --bx: 7px 7px 15px rgba(69, 86, 103, 0.329),
        -8px -8px 15px rgba(81, 101, 121, 0.04),
        inset -5px -4px 13px 0px rgba(81, 101, 121, 0.35),
        inset 6px 7px 12px 0px rgba(255, 255, 255, 0.94);

    --bx02: 
        5px 5px 10px rgba(69, 86, 103, 0.329),
        inset 5px 5px 20px rgba(255, 255, 255, 0.92),
        inset -5px -5px 15px rgba(81, 101, 121, 0.35);

    --bx03:
        5px 5px 7px rgba(69, 86, 103, 0.329),
        inset 2px 2px 5px rgba(255, 255, 255, 0.92),
        inset -3px -3px 5px rgba(81, 101, 121, 0.35);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: var(--bg);
}
.dark-light{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50px;
    width: 60px;
    height: 60px;
    right: 50px;
    box-shadow: var(--bx03);
    border-radius: 50%;
}
.dark-light i{
    position: absolute;
    color: var(--c);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.sun{
    opacity: 0;
    pointer-events: none;
}
section{
    position: relative;
    background: var(--bg);
    border-radius: 20px;
    border-top-left-radius: 255px;
    border-top-right-radius: 225px;
    box-shadow: var(--bx);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#time{
    position: relative;
    width: 450px;
    height: 450px;
    background: var(--bg);
    border-radius: 50%;
    box-shadow: var(--bx);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#time .circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time .circle svg{
    position: relative;
    transform: rotate(270deg);
}